/* GLOBAL */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

/* OUTLINE STYLES */
*:focus{
    outline: 2px dashed #7396ec;
    outline: offset 3px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik","Arial", sans-serif;
    color: #4a4b4c;
    background-color:#fff;
    line-height: 22px;
    font-size: 16px;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}