/* GLOBAL */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

/* OUTLINE STYLES */
*:focus{
    outline: 2px dashed #7396ec;
    outline: offset 3px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik","Arial", sans-serif;
    color: #4a4b4c;
    background-color:#fff;
    line-height: 22px;
    font-size: 16px;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE-HEADER-TOP */
.site-header-top {
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.site-header-container {
    display: flex;
    align-items: center;
}

.site-header-logo {
    background-color: #fff;
    margin-right: 41px;
    border-radius: 7px;
    padding: 8px 6px;
}

.site-header-logo:hover{
    opacity: 0.8;
}

.site-header-logo:active{
    opacity: 0.6;
}

.currency-rates {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: auto;
}

.currency-rates-item:not(:last-child) {
    margin-right: 25px;
}

.currency-rates-type {
    color: #2959CE;
}

/* GLOBAL-SEACHER-FORM */
.global-search-form {
    margin-right: 25px;
}

.global-search-form-input {
    background-color: #fff;
    border-radius: 60px;
    border:0;
    color: #8D8D8D;
    font-size: 14px;
    line-height: 17px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 20px;
}

.lang-togger {
    display: flex;
    border-radius: 39px;
    background-color: #DCE6FF;
    padding: 3px;
    margin-right: 25px;
}

.lang-togger-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    color: #A6A6A6;
    text-decoration: none;
    line-height: 30px;
    font-size:13;
}
.lang-togger-link-active {
    color: #000;
    background-color: #fff;
}

/* BUTTON */
.button {
    display:inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.button-primary {
    background-color: #7296EC;
    color: #fff;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.6;
}

.button-orange {
    border: 0;
    background: #F78B3B;
    color: #FFFFFF;
    width: 149px;
    height: 50px;
}


/* SITENAV */
.sitenav {
    margin-bottom: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #D1D1D1;
    font-weight: 500;
    font-size: 18px;
}

.sitenav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav-item {
    padding-top: 4px;
    padding-bottom: 4px;
}

.sitenav-item-link {
    display: block;
    text-decoration: none;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
    transition: color 0.4s ease;
}

.sitenav-item:not(:last-child) {
    margin-right: 34px;
}

.sitenav-item-link:hover{
    color: #7296ec;
}

.sitenav-item-link:active{
    opacity: 0.6;
}

/* SITE-HEADER-BANNER */
.site-header-banner {
    display: flex;
    margin-bottom: 50px;
}

.site-header-banner-img {
    width: 1200px;
    height: 128px;
}


/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
    padding-top: 50px;
}


/* TOP-NEWS */
.news-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.news-grid-item {
    width: 393px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.article-card {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 20px 17px 15px;
}

.article-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 0;
}

.article-card-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    transition: color 0.4s ease;
}

.article-card-link:hover{
    color: #7296ec;
}

.article-card-link:active{
    opacity: 0.6;
}

.article-card-text {
    margin-top: 0;
    margin-bottom: 15px;
}

.article-card-img {
    display: block;
    margin-bottom: 15px;
    margin-top: auto;
    object-fit: cover;
    border-radius: 10px;
    width: 360px;
    height: 165px;
}

.article-card-footer {
    display: flex;
    align-items: center;
}
.article-card-source-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.article-card-source-time {
    font-size: 12px;
    line-height: normal;
    color: #5E5F61;
}


/* NOTIFICATION-CTA */
.notification-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 70px 25px 25px;
    border-radius: 10px;
    margin: 60px 75px;
    background-color: #ffd7ba;
}

.notification-cta-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}